*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.product{
  display: flex;
}

.product-img{
  width: 250px;
  height: 250px;
}
.product-info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  margin-left: 1.5rem;
}
div.product-detail > *{
  margin: 1rem 0;
}
.product-detail h3{
  margin: 1rem 0;
  font-size: 1.5rem;
}
.product-detail span{
  font-size: 1.2rem;
  color: forestgreen;
  font-weight: 600;
}

.cart-btn{
  width: 10rem;
  height: 40px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.cart-items li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}